
kagglehub
matplotlib
seaborn
scikit-learn
pandas
numpy
notebook
wonderwords
pandas
matplotlib
pygame
pandas
scikit-learn
matplotlib
scipy
--extra-index-url https://pytorch.org
torch
torchvision
torchaudio
#pygame-ce
