
kagglehub
matplotlib
seaborn
scikit-learn
pandas
numpy
notebook
wonderwords
pandas
matplotlib
pygame-ce
pandas
scikit-learn
matplotlib
scipy
--extra-index-url https://pytorch.org
torch
transformers
torchvision
torchaudio
#pygame-ce
